@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
:root {
  --color-primary: #293d2a;
  --color-primary-alt: #495725;
  --color-secondary: #141f17;
  --color-background: #7ba69e;
  --color-text: #2a372a;
  --font-family: 'Righteous', cursive;
  --color-light: rgb(57, 74, 57);
  --color-anchor: #132242;
  --font-weight-strong: 700;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.25rem;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 2em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(3.5rem, 7vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
}

#main h2,
#styles h2 {
  width: 100%;
  border-style: dashed;
  padding: 0.5rem 1rem;
  background-color: #7ba69e;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 2rem 2rem;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
}

blockquote {
  position: relative;
  display: grid;
  grid-template-areas: "blockquote";
  place-items: center;
  padding: 0;
  margin: 3rem 0;
}
blockquote > * {
  grid-area: blockquote;
}
blockquote p {
  position: relative;
  font-size: var(--font-size-h4);
  margin-bottom: 0;
  padding: 0.5em;
  border-left: #140508;
  border-width: 5px;
  
}
blockquote p strong {
  font-size: 1.15em;
}

@media (max-width: 60rem) {
  blockquote::after {
    transform: translate(25%, 55%) rotate(-5deg);
  }
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-strong);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
main:focus {
  outline: none;
}
main h3 {
  color: var(--color-primary);
}

article section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

article .container,
.page-footer .container,
#styles .container {
  width: 100%;
  max-width: 80ch;
  margin-right: auto;
  margin-left: auto;
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}

header {
  --logomark-height: 3em;
  --logomark-padding: 0 1em;
  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem;
  background-image: url("https://cdn.pixabay.com/photo/2020/09/24/16/50/board-5599231_960_720.png");
  background-repeat: repeat-x;
  background-position: center -34px;
  color: var(--color-primary);
  text-align: center;
}
header h1 {
  display: inline-grid;
  min-height: var(--logomark-height);
  padding: var(--logomark-padding);
  border: 0.16em solid var(--color-primary);
  box-shadow: 0.12em 0.12em var(--color-secondary);
  place-content: center;
  min-height: 3em;
  background-color: var(--color-primary);
  color: #fff;
}
header h2 {
  max-width: 30ch;
  background-color: #293d2a;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 30px;
  box-shadow: 0.12em 0.12em var(--color-secondary);
}

header a {
  border-radius: 10%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul a {
  display: inline-grid;
  padding: 0.5rem;
  color: var(--color-secondary);
  font-size: 1.25rem;
  text-decoration: none;
}
nav ul a::before {
  width: 100%;
  height: 0.33em;
  background-color: var(--color-secondary);
  opacity: 0.15;
  content: "";
}
nav ul a:hover::before, nav ul a:focus::before {
  opacity: 1;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav ul li {
  margin: 0.25rem;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 50%;
  border-right: #7ba69e;
}

#about section:nth-child(2) {
  position: relative;
}
#about section:nth-child(2) p:nth-of-type(2) {
  align-self: center;
  margin-top: 2rem;
  color: var(--color-secondary);
  font-size: 1.5em;
  font-weight: var(--font-weight-strong);
  text-align: center;
}
#about section:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}
#about section:nth-child(2) ul li {
  margin: 0.25em;
  padding: 0.25em 0.5em;
  background-color: antiquewhite;
}
#about section:nth-child(2)::before {
  position: absolute;
  width: 100%;
  height: 10%;
  padding-bottom: 70%;
  background: #ffffff url("https://cdn.pixabay.com/photo/2022/01/26/11/19/river-6968614_960_720.png") no-repeat center;
  opacity: 0.5;
  content: "";
  z-index: -1;
}
@media (max-width: 35rem) {
  #about section:nth-child(2)::before {
    transform: scale(2) translate(-25%, -25%);
  }
}

#guidelines h3 {
  display: inline-block;
  transform: rotate(-8deg) translateX(-10%);
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines h3 {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
@media (min-width: 120ch) {
  #guidelines h3 {
    transform: rotate(-8deg) translateX(-30%);
  }
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines p:nth-of-type(2) {
    position: relative;
  }

}
#guidelines .container > a {
  align-self: center;
}

#about section:nth-child(2) {
  position: relative;
}

#about section:nth-child(2) p:nth-of-type(2) {
  align-self: center;
  margin-top: 2rem;
  color: var(--color-secondary);
  font-size: 1.5em;
  font-weight: var(--font-weight-strong);
  text-align: center;
}

#about section:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}

#about section:nth-child(2) ul li {
  margin: 0.25em;
  padding: 0.25em 0.5em;
  background-color: rgb(67, 94, 67);
  color: aliceblue;
}

@media (max-width: 35rem) {
  #about section:nth-child(2)::before {
    transform: scale(2) translate(-25%, -25%);
  }
}

#files {
  display: grid;
  place-content: center;
  margin: 5vh auto;
  text-align: center;
}
#files h3 {
  height: 0;
  opacity: 0;
}
#files .container {
  display: inline-block;
  padding: 5vmin;
  background-color: #62958c ;
  text-align: center;
  border-radius: 40px;
}
#files .container a:not(:last-child) {
  margin: 0.5rem;
}
#files .container a:not(:last-child):not(.link-codepen) {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.features {
  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  /*! 
    * SVGs from Hero Patterns
    * @link http://www.heropatterns.com/
    */
}
.features li {
  display: grid;
  position: relative;
  place-content: center;
  min-height: 12rem;
  padding: 1rem;
  color: #17201e;
  text-align: center;
}
.features li > span {
  display: grid;
  place-content: center;
  padding: 0.5em;
  grid-gap: 0.5rem;
  background-color: #7ba69e;
  opacity: 90%;
  line-height: 1.1;
  box-shadow: 0.12em 0.12em #2c3417;
}
.features li > span a {
  color: rgb(26, 27, 26);
  font-size: 1.3rem;
  font-weight: var(--font-weight-strong);
  text-decoration: none;
}
.features li > span a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: 0.18em 0.18em #1a3e2e;
}
.features li > span span:nth-child(2) {
  position: relative;
}

#styles {
  margin: 5vh 0 20vh;
  text-align: center;
}
#styles h2 {
  color: var(--color-primary);
}

#styles .features li,
.features.patterned li {
  background-color: #344340;
  background-image: url("https://cdn.pixabay.com/photo/2015/09/08/16/41/pattern-930264_960_720.jpg");
  
}
@media (min-width: 515px) and (max-width: 765px) {
  #styles .features li:nth-last-child(1):nth-child(odd),
.features.patterned li:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
  }
}
#styles .features li:nth-child(2),
.features.patterned li:nth-child(2) {
  background-image: url("https://cdn.pixabay.com/photo/2016/06/14/14/14/triangle-background-1456642_960_720.jpg");
}
#styles .features li:nth-child(3),
.features.patterned li:nth-child(3) {
  background-image: url("https://cdn.pixabay.com/photo/2016/08/23/04/19/abstract-1613460_960_720.jpg");
}

.profile {
  width: 95vw;
  max-width: 80ch;
  margin: 1rem auto 10vh;
  padding: 1.25rem;
  z-index: 1;
}
.profile h4 {
  margin: 0;
  color: var(--color-secondary);
  text-align: center;
}
.profile .container {
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
}
.profile .container > a {
  min-height: 2em;
  border: 2px solid currentColor;
  color: var(--color-secondary);
}
.profile ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile ul li {
  display: flex;
  padding: 0.45em;
}
.profile ul li span:nth-child(1) {
  width: auto;
  margin-right: 0.25em;
  font-weight: var(--font-weight-strong);
}
.profile ul li span:nth-child(2) {
  flex-grow: 1;
  word-break: break-word;
}
.profile ul li span:nth-child(2) a {
  color: inherit;
}
@media (min-width: 180ch) {
  .profile {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    max-width: 30ch;
    margin-bottom: 0;
    border-radius: var(--border-radius);
    background-color: var(--color-light);
    box-shadow: 0 2px 5px rgba(58, 0, 255, 0.15);
  }
  .profile ul {
    justify-content: unset;
  }
  .profile ul li {
    padding: 0;
  }
  .profile ul li span:nth-child(1) {
    width: 8ch;
    margin-right: 0;
  }
}

.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;
  position: relative;
  padding: 3rem 1rem;
  background-color: var(--color-primary);
  background-image: url("https://cdn.pixabay.com/photo/2020/09/24/16/50/board-5599231_960_720.png");
  background-repeat: repeat-x;
  background-position: center -34px;
  color: var(--color-light);
}
.page-footer::before {
  display: inline-grid;
  min-height: var(--logomark-height);
  padding: var(--logomark-padding);
  border: 0.16em solid var(--color-primary);
  box-shadow: 0.12em 0.12em var(--color-secondary);
  place-content: center;
  position: absolute;
  left: 50%;
  width: 2em;
  transform: rotate(-15deg) translateY(-120%);
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: 3rem;
  content: "S";
}
.page-footer p:first-child {
  margin-top: 3rem;
  font-weight: var(--font-weight-strong);
  letter-spacing: 0.03em;
  text-align: center;
}
.page-footer p a {
  color: inherit; 
}
.page-footer ul {
  grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
}

.page-footer .container {
  background-color: #1c3a2e;
  opacity: 0.9;
  width: 150%;
  color: white;
  padding: 15px 20px 20px 20px;
}

.page-footer .container > :last-child {
  margin-bottom: 0;
}

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;
}
.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.5em;
}

[class^=link]:not(.link-codepen) {
  min-height: 3em;
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: 0.18em 0.18em var(--color-secondary);
}

[class^=link]:not(.link-codepen),
.profile .container > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75em;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}
[class^=link]:not(.link-codepen):hover, [class^=link]:not(.link-codepen):focus,
.profile .container > a:hover,
.profile .container > a:focus {
  transform: translate(-0.15em, -0.15em);
  box-shadow: 0.3em 0.3em var(--color-secondary);
}
[class^=link]:not(.link-codepen):focus,
.profile .container > a:focus {
  outline-color: transparent;
  outline-style: solid;
}

.page-footer [class^=link] {
  width: 100%;
  min-height: 2.5em;
  background-color: var(--color-background);
  color: var(--color-primary);
}

.link-codepen {
  display: block;
  margin-top: 3rem;
  font-size: var(--font-size-h4);
}

.link-allstyles {
  font-size: var(--font-size-h4);
}
@media (max-width: 400px) {
  .link-allstyles {
    margin-left: 6rem;
  }
}

.link-github svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}